
ul{
    background-color: peachpuff;
}

/* Selector por id, se le agrega # */
#menu{
    color:orange;
    font-size: 30px;
    background-color: #becbe4;
}

#menu li {
    display: inline-block;
}

#home{
    background-image: url(http://soscreacionesweb.com/sites/default/files/fondo-slide-1_2_0.jpg);
}

#contacto{
    background-image: url(http://soscreacionesweb.com/sites/default/files/fondo-slide-1_2_0.jpg);
}

/* Selector por clase, se le agrega . */

.receta.preparacion{
    color:red;
}

